<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Interior Design Website</title>
    <!-- Font Awesome Script -->
    <script src="https://kit.fontawesome.com/be5e7abda2.js" crossorigin="anonymous"></script>
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@800&display=swap" rel="stylesheet">  
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <!-- Box icon -->
    <link href='https://cdn.jsdelivr.net/npm/boxicons@2.0.5/css/boxicons.min.css' rel='stylesheet'>
    <!-- Link to CSS -->
    <link rel="stylesheet" href="/styles.css">
    <style>
        * {
            box-sizing: border-box;
        }
        
        body {
            font-family: Verdana, sans-serif;
        }
        
        .mySlides {
            display: none;
        }
        
        img {
            vertical-align: middle;
        }
        /* Slideshow container */
        
        .slideshow-container {
            max-width: 1000px;
            position: relative;
            margin: auto;
        }
        /* Caption text */
        
        .text {
            color: #f2f2f2;
            font-size: 15px;
            padding: 8px 12px;
            position: absolute;
            bottom: 8px;
            width: 100%;
            text-align: center;
        }
        /* Number text (1/3 etc) */
        
        .numbertext {
            color: #f2f2f2;
            font-size: 12px;
            padding: 8px 12px;
            position: absolute;
            top: 0;
        }
        /* The dots/bullets/indicators */
        
        .dot {
            height: 15px;
            width: 15px;
            margin: 0 2px;
            background-color: #bbb;
            border-radius: 50%;
            display: inline-block;
            transition: background-color 0.6s ease;
        }
        
         
        /* Fading animation */
        
        .fade {
            -webkit-animation-name: fade;
            -webkit-animation-duration: 1.5s;
            animation-name: fade;
            animation-duration: 1.5s;
        }
        
        @-webkit-keyframes fade {
            from {
                opacity: .4
            }
            to {
                opacity: 1
            }
        }
        
        @keyframes fade {
            from {
                opacity: .4
            }
            to {
                opacity: 1
            }
        }
        /* On smaller screens, decrease text size */
        
        @media only screen and (max-width: 300px) {
            .text {
                font-size: 11px
            }
        }
        
        #more {
            display: none;
        }
    </style>


</head>

<body>
    <!-- ********************** Navbar Section ********************************** -->
    <div class="header">

        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand" href="#">B7 Interior Designers</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active ">
                        <a class="nav-link" href="#home">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#about">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/contact">Contact</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                     Menu
                  </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="#gallery">Gallery</a>
                            <a class="dropdown-item" href="#portfolio">Portfolio</a>
                            <a class="dropdown-item" href="#services">Services</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#pricing">Pricing</a>
                    </li>
                </ul>
                <form class="form-inline my-2 my-lg-0">
                    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">Search</button>
                </form>
            </div>
        </nav>
    </div>
    <!-- ********************* Home Section  ***************************************** -->
    <section class="image-front" id="home">
        <div class="main">
            <div class="background-image">
                <center class="front-text">
                    Decoy Your Home Beautifully !
                </center>
                <center class="front-second-text">
                    "We turn ideas into work of art"
                </center>
            </div>
        </div>
    </section>
    <!-- ***************** ABOUT SECTION ************************* -->
    <section id="about">
        <div class="arc-text">
            About Us
        </div>
        <div class="indentation">
            <div class="image-container">
                <div class="right-image"></div>
                <div class="wikipedia">
                    <p> In the course of recent years, the B7 Interior Designers Interior Design group has scoured the globe for innumerable 
                        assets that empower us to give an assortment of extravagance interior design administrations
                        to our customers in ventures with different degrees and spending plans. The extent of our firm, size of our
                        interior design extends, and long-standing associations with sellers in dealing with the determination, obtaining,
                        and facilitated establishment of Residential, Contract, and Hospitality interiors is unmatched.<br><br>These 
                        administrations include: Mediavine Design of interiors and regular spaces for multi-family, and skyscraper advancements
                        Design of extravagance interiors enveloping private homes, yachts and planes Business interiors including lodging and 
                        eatery design Show marketing Creation and the board of virtual interiors Interior Detailing, incorporating into 
                        profundity millwork and implicit design Space arranging.<br>
                    </p>                    
                </div>
            </div>
    </section>
    <!-- *********************** Gallery Section ************************************** -->

    <section id="gallery">
        
        <h1 align="center" style="font-family:'Monsterrat',sans-serif;"> Our Gallery</h1><br><br>
        <div class="slideshow-container">

            <div class="mySlides fade">
                <div class="numbertext">1 / 6</div>
                <img src="images/1.jpg" style="width:100%">

            </div>

            <div class="mySlides fade">
                <div class="numbertext">2 / 6</div>
                <img src="images/2.jpg" style="width:100%">

            </div>

            <div class="mySlides fade">
                <div class="numbertext">3 / 6</div>
                <img src="images/3.jpg"  style="width:100%">

            </div>
            <div class="mySlides fade">
                <div class="numbertext">4 / 6</div>
                <img src="images/4.jpg" style="width:100%">
            </div>
            <div class="mySlides fade">
                <div class="numbertext">5 / 6</div>
                <img src="images/5.jpg" style="width:100%">
            </div>
            <div class="mySlides fade">
                <div class="numbertext">6 / 6</div>
                <img src="images/6.jpg" style="width:100%">

            </div>

        </div>
        <br>

        <div style="text-align:center">
            <span class="dot"></span>
            <span class="dot"></span>
            <span class="dot"></span>
            <span class="dot"></span>
            <span class="dot"></span>
            <span class="dot"></span>
        </div>

        <script>
            var slideIndex = 0;
            showSlides();

            function showSlides() {
                var i;
                var slides = document.getElementsByClassName("mySlides");
                var dots = document.getElementsByClassName("dot");
                for (i = 0; i < slides.length; i++) {
                    slides[i].style.display = "none";
                }
                slideIndex++;
                if (slideIndex > slides.length) {
                    slideIndex = 1
                }
                for (i = 0; i < dots.length; i++) {
                    dots[i].className = dots[i].className.replace(" active", "");
                }
                slides[slideIndex - 1].style.display = "block";
                dots[slideIndex - 1].className += " active";
                setTimeout(showSlides, 2000); // Change image every 2 seconds
            }
        </script>

    </section>
    <!-- *************************** Portfolio Section ***************************** -->
    <section id="portfolio">
        <center class="middle-text">
            <h1 style="font-family: 'Mosterrat',sans-serif;">Our Product Portfolio</h1>
        </center>
        <div class="content-max-width">
            <div class="grid-container">

                <div class="container">
                    <div class="image"></div>
                    <div class="overlay">
                        <div class="text">
                            Modern Design of Kitchen Ceiling
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="image2"></div>
                    <div class="overlay">
                        <center class="text">
                            Sofa couch carpet living room design
                        </center>
                    </div>
                </div>
                <div class="container">
                    <div class="image3"></div>
                    <div class="overlay">
                        <div class="text">
                            royalty interior neo classical design
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="image4"></div>
                    <div class="overlay">
                        <div class="text">
                            Living room interior design
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="image5"></div>
                    <div class="overlay">
                        <center class="text">
                            Dining room interior design
                        </center>
                    </div>
                </div>
                <div class="container">
                    <div class="image6"></div>
                    <div class="overlay">
                        <div class="text">
                            Bathroom design
                        </div>
                    </div>
                </div>
            </div>
    </section>
  
   <!-- **************************** Services Section ************************************* -->
    <section id="services">
        <div class="middle-heading" style="text-align: center;">
            What we provide for your building
        </div>

        <div class="small-heading" style="text-align: center;">
            Great customer service makes life easier for everyone.
        </div>


        <center class="grid-container4">

            <div class="boxes">
                <i class="fas fa-puzzle-piece" style="font-size: 300%"></i>
                <div class="indoor-text">
                    Creative Solution
                </div>
            </div>


            <div class="boxes2">
                <i class="far fa-compass" style="font-size: 300%"></i>
                <div class="indoor-text">
                    Choosing the right direction
                </div>
            </div>


            <div class="boxes3">
                <i class="far fa-heart" style="font-size: 300%"></i>
                <div class="indoor-text">
                    With love to the details
                </div>
            </div>


            <div class="boxes4">
                <i class="fas fa-pencil-alt" style="font-size: 300%"></i>
                <div class="indoor-text">
                    Modern design working
                </div>
            </div>


            <div class="boxes5">
                <i class="far fa-building" style="font-size: 300%"></i>
                <div class="indoor-text">
                    We create your buildings
                </div>
            </div>


            <div class="boxes6">
                <i class="far fa-lightbulb" style="font-size: 300%"></i>
                <div class="indoor-text">
                    Intuitive Design
                </div>
            </div>

        </center>

    </section>
     <!-- *********************************** Pricing Section *************************************************** -->
   
  <section id="pricing">
     <br><br><br>
    <h2 class="middle-heading" style="text-align: center;">A Plan for Every Home</h2>
    <p style="text-align: center;margin-top: 20px;">Simple and affordable price plans for your home.</p>
    <div class="row">

<div class="pricing-column col-lg-4 col-md-6">
  <div class="card">
    <div class="card-header" >
      <h3>Classic Room Design</h3>
    </div>
     <div class="card-body">
      <h2 style="color: goldenrod;">$299/room</h2>
      <p style="padding-top: 50px;">Talented and vetted desiners,who are rising stars</p>
      <p style="margin-top:50px;">Great for collaborating with <br> Instagram-worthy designpro.</p>
      
      <button style="margin-top: 20px;" type="button" class="btn btn-lg btn-block btn-dark">Choose Classic</button>
  
    </div>
     
</div>
</div>
    <div class="pricing-column col-lg-4 col-md-6">
      <div class="card">
        <div class="card-header">
          <h3>Elite Room Design</h3>
        </div>
         <div class="card-body">
     
          <h2 style="color:goldenrod">$599/room</h2>
          <p style="padding-top: 50px;">Our more experienced designers and extensive portfolios.</strong>
          <p style="padding-top: 50px;">Best for getting a signature style with a regionally recognized designer.</p>
          <button style="margin-top:20px;" type="button" class="btn btn-lg btn-block btn-dark">Choose Elite</button>
      
        </div>
         
    </div>
    </div>
    <div class="pricing-column col-lg-4">
      <div class="card">
        <div class="card-header">
          <h3>Celebrity Room Design</h3>
        </div>
         <div class="card-body">
          <h2 style="color: goldenrod;">$1299/room</h2>
          <p style="padding-top:50px;">Our most exclusive.Top desiners with household names</p>
          <p style="padding-top: 50px;">Perfect for getting an A-list designer's signature look.</p>
          <button style="margin-top: 20px;" type="button"class="btn btn-lg btn-block btn-dark">Choose Celebrity</button>
        </div>
         
      </div>
      </div>
    </div>

  </section> 
   

    <footer class="footer">
        <p class="footer__title">Make Your Home A Heaven !</p>
        <div class="footer__social">
            <a href="#" class="footer__icon"><i class='fab fa-facebook-f' ></i></a>
            <a href="#" class="footer__icon"><i class='fab fa-instagram' ></i></a>
            <a href="#" class="footer__icon"><i class='fab fa-twitter' ></i></a>
        </div>
        <p>&#169; 2020 copyright all right reserved</p>
    </footer>
</body>

</html>