<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Success</title>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  <link rel="stylesheet" href="css/bootstrap-social.css">
<style>
 
    p{
           text-align: center;
           font-size: 2rem;
    }
    .fas{
        padding-top:50px;
        font-size: 5em;
    }
     
</style>
</head>
<body>

<div class="jumbotron text-center">
  <div class="container">
    <i class="fas fa-thumbs-up"></i>
    <h1 class="display-3" style="padding-top: 50px;font-weight: bolder;">Awesome!</h1>
      <p>You've been successfully submitted up  your information to the B7 designers.Our team will contact you as soon as possible,look forward to lots of awesome content!</p> 
    
  </div>
</div>

 </body>
</html>